html
head
    title= title
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="css/main.css")
    body

        form(name='add', method='POST', action='todos')
            div
                input(type="text", name="description" , placeholder='Add a new task')
                input(type='submit', value='Edit')
        
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascripts/main.js')

    

    
               
                
        
        

     
       
