html
head
    title To do list - Web Application
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-inverse
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='#') To do list - Web Application
                    ul.navbar-nav.mr-auto 
                        li.list-group-item.col-xs-6
                            a(href="/") Home
                        li.li.list-group-item.col-xs-6
                            a(href="/todos") Todo List
        h1 #{title}
            form(name='editMode', method='POST', action='/todos/edit/'+todos._id)
                .form-group
                    label Description:
                    input#usr.form-control(name='description', type='text', value=todos.description)
                br
                input.btn.btn-primary(type='submit', value='Submit')
                //- button.btn.btn-primary(type='submit',value='Submit') 
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascripts/main.js')

    

               
                
        
        

     
       
