html
head
    title To do list - Web Application
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="css/main.css")
    body
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') To do list - Web Application
                ul.navbar-nav.mr-auto 
                    li.list-group-item.col-xs-6
                        a(href="/") Home
                    li.li.list-group-item.col-xs-6
                        a(href="/todos") Todo List
        .container
            .starter-template
                 h1 To do list - Web Application
                    .home
                        p The full source code is available at&nbsp;
                             a(href='https://github.com/Sasiprapaban0/git_app-todo-list.git') github.com/Sasiprapaban0/git_app-todo-list.git
                            |.
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascripts/main.js')