html
head
    title= title
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="css/main.css")
    body
            h1 #{todoView.description}
            h5 Written date at : #{todoView.updated_at}
        //-    button.btn.btn-success(type='button') #{todoView.done} 
        
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascripts/main.js')

    

    
               
                
        
        

     
       
